language: java
sudo: false

before_install:
  - rvm install 2.2
  - rvm use 2.2
  - gem install hiptest-publisher
  - hiptest-publisher -c java-testng.conf --only=tests --test-run-id=1359

script:
  - mvn package

after_script:
  - hiptest-publisher -c java-testng.conf -p "target/surefire-reports/junitreports/TEST-com.testng.coffeemachine.*.xml" --test-run-id=1359